<template>
  <div>
    <app-header
    v-bind:propsdata="str"
    v-on:renew="reNueStr"
    ></app-header>
  </div>
</template>
<script>

import AppHeader from'./components/AppHeader.vue';

export default {
  data:function () {
    return {
      str: 'Header',
    }
  },
  components: {
    'app-header': AppHeader
  },
  methods: {
    reNueStr: function () {
      this.str = 'Hi';
    }
  }
}
</script>

<style>

</style>