<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <app-header v-bind:propsdata="num"></app-header>
        <app-content v-on:pass="deleverNum"></app-content>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var appHeader = {
            template: '<div>Header {{ propsdata }}</div>',
            props: ['propsdata']
        }
        var appContent = {
            template: '<div>Contnet<button v-on:click="passNum">pass</button></div>',
            methods : {
                passNum : function () {
                    this.$emit('pass',10);
                }
            }
        }
        new Vue ({
            el:'#app',
            components : {
                'app-header' : appHeader,
                'app-content': appContent
            },
            data: {
                num: 0
            },
            methods : {
                deleverNum : function (value) {
                    this.num = value;
                }
            },
        })
    </script>
</body>
</html>