<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
        <p>{{ doubleNum }}</p>
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            Test user has been logined in
        </div>
        <div v-show="loading">
            Loading...
        </div>
        <!-- TODO : 인풋 박스를 만들고 입력 된 값을 p 태그에 출력해 보세요. -->
        <input v-model="message" placeholder="edit me">
        <p>{{message}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el :'#app',
            data : {
                num : 10,
                uuid : 'abc1234',
                name: 'text-blue',
                loading: true,
                message:'',
            },
            computed:{
                doubleNum : function () {
                    return this.num * 2;
                }
            }
        })
    </script>
</body>
</html>