<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <app-header v-bind:프롭스 속성이름="상위 컴포넌트의 데이터 이름"></app-header> -->
        <app-header v-bind:propsdata="message"></app-header>
        <app-content v-bind:propsdata="num"></app-content>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var appHeader = {
            template : '<h1>{{ propsdata }}</h1>',
            props:['propsdata']
        }
        var appContent = {
            template: '<div>{{ propsdata }}</div>',
            props:['propsdata']
        }
        new Vue({
            el: '#app',
            components: {
                'app-header' : appHeader,
                'app-content' : appContent,
            },
            data : {
                message: 'Hi props',
                num : 10,
            }
        })
    </script>

</body>
</html>