<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{num}}
        <button v-on:click="addNum">increase</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data : {
                num : 10,
            },
            watch: {
                num : function () {
                    this.logText();
                }
            },
            methods: {
                addNum : function () {
                    this.num = this.num + 1;
                },
                logText: function () {
                    console.log('changeed');
                }
            }
        })
    </script>

</body>
</html>